## In-progress ignore list

build*
*.pro.user
# VS files
*.sdf
*.sln
*.suo
*.opensdf
*/*.vcxproj
*/*.vcxproj.*
*/*.vcxproj.filters
*/*.vcxproj.user

# CB files
*.userprefs
*.workspace
*.workspace.layout
*.layout
*/*.cbp
*/*.depend
*/*.layout
*/*.layout.cbTemp

# GMAKE
Makefile
